{
    "accounts":[
        
    

        
    

        {"screen_name": "ftfinancenews", "file": "data/finance"},
        {"screen_name": "ReutersMoney", "file":  "data/finance"},
        {"screen_name": "ReutersBiz", "file": "data/finance"},
        {"screen_name": "BBCBusiness", "file": "data/finance"},
        {"screen_name": "ABCBusinessNews", "file": "data/finance"}

    

    ]
}
